<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查询全部商品信息</title>
    <script type="text/javascript" src="../vuejs/vuejs-2.5.16.js"></script>
    <script type="text/javascript" src="../vuejs/axios-0.18.0.js"></script>
</head>
<body>
    <center>
        <div id="goodslistdiv">
            <h2>展示全部商品信息</h2>
            商品名称:<input v-model="searchEntity.gname">
            <input type="button" value="检索" @click="findAllConnAndPage()"/><br>
            <table border="2" width="1000px" height="800px">
                <tr bgcolor="aqua">
                    <th>商品编号</th>
                    <th>商品名称</th>
                    <th>商品价格</th>
                    <th>商品类型</th>
                </tr>
                <tr v-for="g in list" style="text-align: center">
                    <td>{{g.gid}}</td>
                    <td>{{g.gname}}</td>
                    <td>{{g.gprice}}</td>
                    <td>{{g.typeBean.tname}}</td>
                </tr>
                <tr style="text-align: center">
                    <td colspan="100">
                        当前{{pageInfo.pageNum}}/{{pageInfo.pages}}页；总计{{pageInfo.total}}条记录;
                        <input type="button" value="首页" @click="paging(1)"/>
                        <input type="button" value="上一页" @click="paging(pageInfo.prePage)"/>
                        <input type="button" value="下一页" @click="paging(pageInfo.nextPage)"/>
                        <input type="button" value="尾页" @click="paging(pageInfo.pages)"/>
                    </td>
                </tr>
            </table>
            <script type="text/javascript" src="../pagejs/goods_list.js"></script>
        </div>
    </center>
</body>
</html>